.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
.log/
priv/static/dist/
priv/pty_mngr/

pty_mngr_build_*/
wasm_terminal_build_*/
