{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {erlydtl, "0.14.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [web_shell]}
]}.

{pre_hooks,
    % Build and install into priv
    [
        {compile, "./build-wasm-terminal.sh"},
        {compile, "./build-pty-mngr.sh"},
        {compile, "sh -c \"cd frontend_src; npm run build\""}
    ]}.
