{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {erlydtl, "0.14.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [web_shell]}
]}.

{pre_hooks,
    % Build and install into priv
    [
        {compile, "sh -c \"cmake --build pty_mngr_build/ && cmake --install pty_mngr_build/ --prefix priv/\""},
        {compile, "sh -c \"cd frontend_src; npm run dev\""}
    ]}.
